---
import { Icon } from "astro-icon/components";
---

<footer class="footer">
  <div class="wrapper footer__wrapper research">
    <div class="footer__col">
      <div>
        <p class="footer__p">Siguenos en :</p>
      </div>
      <div class="footer__follow">
        <div class="svg">
          <Icon name={"facebook_icon"} />
        </div>
        <div class="svg">
          <Icon name={"tiktok_icon"} />
        </div>
        <div class="svg"></div>
      </div>
    </div>
    <div class="footer__col">
      <div>
        <p class="footer__p">Acerca de :</p>
      </div>
      <div class="footer__form">
        <p>
          Somos un grupo de apasionados lugareños que nos dedicamos a preservar y compartir la belleza natural y cultural de nuestra región.
        </p>
      </div>
    </div>
  </div>
</footer>
