<main class="main">
  <div class="main__img">
    <section class="main__tittle__container">
      <div class="main__tittle">
        <div class="main__viaja">
          <div class="main__tittle__1">V</div>
          <div class="main__tittle__4">I</div>
          <div class="main__tittle__3">A</div>
          <div class="main__tittle__2">J</div>
          <div class="main__tittle__5">A</div>
        </div>
        <div class="main__viaja">
          <div class="main__tittle__5">H</div>
          <div class="main__tittle__1">A</div>
          <div class="main__tittle__3">C</div>
          <div class="main__tittle__4">I</div>
          <div class="main__tittle__2">A</div>
        </div>
        <div class="main__viaja">
          <div class="main__tittle__3">U</div>
          <div class="main__tittle__5">N</div>
        </div>
      </div>
      <div class="main__tittle">
        <div class="main__viaja">
          <div class="main__tittle__1">M</div>
          <div class="main__tittle__3">A</div>
          <div class="main__tittle__5">R</div>
        </div>
        <div class="main__viaja">
          <div class="main__tittle__2">D</div>
          <div class="main__tittle__4">E</div>
        </div>
        <div class="main__viaja">
          <div class="main__tittle__5">P</div>
          <div class="main__tittle__1">A</div>
          <div class="main__tittle__3">S</div>
          <div class="main__tittle__1">I</div>
          <div class="main__tittle__2">O</div>
          <div class="main__tittle__4">N</div>
        </div>
      </div>
      <div class="main__Yates">
        <div class="main__viaja">
          <div class="main__tittle__1">A</div>
          <div class="main__tittle__5">L</div>
          <div class="main__tittle__3">Q</div>
          <div class="main__tittle__4">U</div>
          <div class="main__tittle__1">I</div>
          <div class="main__tittle__3">L</div>
          <div class="main__tittle__1">E</div>
          <div class="main__tittle__2">R</div>
        </div>
        <div class="main__viaja">
          <div class="main__tittle__1">D</div>
          <div class="main__tittle__5">E</div>
        </div>
        <div class="main__viaja">
          <div class="main__tittle__1">Y</div>
          <div class="main__tittle__5">A</div>
          <div class="main__tittle__3">T</div>
          <div class="main__tittle__4">E</div>
          <div class="main__tittle__1">S</div>
        </div>
      </div>
    </section>
  </div>
</main>
