<section class="schedule">
  <div class="schedule__row research">
    <h5 class="schedule__h5">Horarios de partida</h5>
  </div>
  <div class="schedule__container wrapper research">
    <div class="schedule__col">
      <p class="schedule__p">Lunes</p>
      <p class="schedule__hours">8:00 - 12:00 <br /> 2:00 - 6:00</p>
    </div>
    <div class="schedule__col">
      <p class="schedule__p">Martes</p>
      <p class="schedule__hours">10:00 - 12:00 <br /> 2:00 - 6:00</p>
    </div>
    <div class="schedule__col">
      <p class="schedule__p">Miercoles</p>
      <p class="schedule__hours">10:00 - 12:00 <br /> 2:00 - 6:00</p>
    </div>
    <div class="schedule__col">
      <p class="schedule__p">Jueves</p>
      <p class="schedule__hours">9:00 - 12:00 <br /> 2:00 - 6:00</p>
    </div>
    <div class="schedule__col">
      <p class="schedule__p">Viernes</p>
      <p class="schedule__hours">9:00 - 12:00 <br /> 2:00 - 6:00</p>
    </div>
    <div class="schedule__col">
      <p class="schedule__p">Sabado</p>
      <p class="schedule__hours">10:00 - 12:00 <br /> 2:00 - 4:00</p>
    </div>
    <div class="schedule__col">
      <p class="schedule__p">Domingo</p>
      <p class="schedule__hours">10:00 - 12:00 <br /> 2:00 - 4:00</p>
    </div>
  </div>
</section>
