---
import { Icon } from "astro-icon/components";
---

<section class="services">
  <div class="wrapper services__wrapper research">
    <div class="">
      <h5 class="services__h5">Nuestros servicios</h5>
    </div>
    <div class="services__container">
      <div class="services__card">
        <div class="services__icon">
          <Icon name={"boat_icon"} />
        </div>
        <div><p class="services__p">Viajes <br /> rapidoz</p></div>
      </div>
      <div class="services__card">
        <div class="services__icon">
          <Icon name={"hotel_icon"} />
        </div>
        <div><p class="services__p">Hoteles <br> confortables</p></div>
      </div>
      <div class="services__card">
        <div class="services__icon">
          <Icon name={"guide_icon"} />
        </div>
        <div>
          <p class="services__p">Guias <br /> expertos</p>
        </div>
      </div>
      <div class="services__card">
        <div class="services__icon">
          <Icon name={"food_icon"} />
        </div>
        <div><p class="services__p">Comida <br> tradicional</p></div>
      </div>
    </div>
  </div>
</section>
