<section class="associate">
  <div class="research">
    <div class="associate_col">
      <p class="associate__p">Asociados con :</p>
    </div>
    <div class="associate__col">
      <div
        class="sponsors"
        style="background-image: url('/images/isandes-tours-logo.gif');  background-size: 100% 100%  ;"
      >
      </div>
      <div
        class="sponsors"
        style="background-image: url('/images/macro-tours-logo.gif');  background-size: 100% 100%  ;"
      >
      </div>
      <div
        class="sponsors"
        style="background-image: url('/images/south-treks-logo.gif');  background-size: 100% 100%  ;"
      >
      </div>
      <div
        class="sponsors"
        style="background-image: url('/images/viajes-rutas-recuerdos-logo.gif');  background-size: 100% 100% ;"
      >
      </div>
    </div>
  </div>
</section>
