<section class="associate blackBG ">
  <div class="research">
    <div class="associate_col">
      <p class="Tsize text__center">Asociados con :</p>
    </div>
    <div class="associate__col">
      <div
        class="sponsors"
        style="background-image: url('/images/isandes-tours-logo.gif');  background-size: 100% 100%  ;"
      >
      </div>
      <div
        class="sponsors"
        style="background-image: url('/images/macro-tours-logo.gif');  background-size: 100% 100%  ;"
      >
      </div>
      <div
        class="sponsors"
        style="background-image: url('/images/south-treks-logo.gif');  background-size: 100% 100%  ;"
      >
      </div>
      <div
        class="sponsors"
        style="background-image: url('/images/viajes-rutas-recuerdos-logo.gif');  background-size: 100% 100% ;"
      >
      </div>
    </div>
  </div>
</section>

<style>
  .associate {
    /* color: #fff; */
    /* background-color: #181818; */
    padding: 3rem 0 3rem 0;
  }
  .associate__col {
    padding: 2rem 0 2rem 0;
    gap: 3rem;
    display: flex;
    justify-content: space-evenly;
  }
  .sponsors {
    width: 100px;
    height: 50px;
    /* background-image: url('/src/assets/isandes-tours-logo.gif'); */
  }
  @media screen and (max-width: 720px) {
  .associate__p {
    font-size: 1em;
  }
}
</style>
