* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "PoetSenOne";
}
/* la etiqueta wrapper es para centrear el contenido */
.wrapper {
  width: 90%;
  max-width: 93.75rem; /*maximo de 1500 pixeles, o su equivalente en rem */
  /* el margin auto lo centrea automaticamente , es como un aligcenter de flex  */
  margin: auto;
}

@font-face {
  font-family: "adams-black";
  src: url(../../src/assets/fonts/ArchivoBlack-Regular.ttf);
}
@font-face {
  font-family: "PoetSenOne";
  src: url(../../src/assets/fonts/PoetsenOne-Regular.ttf);
}

/* para que el contenido aparezca de abajo a arriba */
@keyframes behindComponent {
  from {
    opacity: 0;
    translate: 0 70px;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
.research {
  animation: behindComponent linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;
}

.main__img {
  background-image: url("/assets/LagoTiticaca2.jpg");
  /*con el cover hacemos que ocupe todo la caja sin deformarse, es una alternativa a poner 100% 100%*/
  background-size: cover;
  /*con el position center hacemos que cuando la imagen se deforme permanezca centrada*/
  background-position: center;
  background-repeat: no-repeat;
  /*el minimo que ocupara la ventana es 90vh*/
  min-height: 100vh;
  display: flex;
  justify-content: left;
}

.main__tittle {
  /* background-color: bisque; */
  display: flex;
  flex-flow: row wrap;
  font-size: 3em;
  font-weight: 700;
  gap: 0.4em;
}
.main__tittle__container {
  color: aliceblue;
  padding-left: 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0.5rem;
  /* background-color: aquamarine; */
  letter-spacing: 0.2em;
  word-spacing: 0.1em;
}
.main__viaja {
  display: flex;
}
.main__Yates {
  display: flex;
  gap: 0.7em;
  font-size: 1.5em;
}
.main__tittle__1 {
  font-family: "adams-black";

  overflow: hidden;
  animation: letterView;
  animation-duration: 4s;
}
.main__tittle__2 {
  font-family: "adams-black";

  overflow: hidden;
  animation: letterView;
  animation-duration: 2s;
}
.main__tittle__3 {
  font-family: "adams-black";

  overflow: hidden;
  animation: letterView;
  animation-duration: 5s;
}
.main__tittle__4 {
  font-family: "adams-black";
  overflow: hidden;
  animation: letterView;
  animation-duration: 6s;
}
.main__tittle__5 {
  font-family: "adams-black";
  overflow: hidden;
  animation: letterView;
  animation-duration: 3s;
}

@keyframes letterView {
  from {
    height: 1%;
  }
  to {
    height: 100%;
  }
}

.main__text {
  font-size: 1.5em;
}

@media screen and (max-width: 720px) {
  .main__tittle {
    font-size: 1.5em;
  }
  .main__Yates {
    font-size: 1em;
  }
}
/*su alternativo en rems */

/* desde aca la seccion de asociados */
.associate {
  background-color: #e4e4e7;
  /* color: #fff; */
  padding: 3rem 0 3rem 0;
}
.associate__p {
  font-size: 2em;
  /* background-color: aquamarine; */
  text-align: center;
}
.associate__col {
  padding: 2rem 0 2rem 0;
  gap: 3rem;
  display: flex;
  justify-content: space-evenly;
  /* background-color: bisque; */
}
.sponsors {
  width: 100px;
  height: 50px;
  /* background-color: blueviolet; */
  /* background-image: url('/src/assets/isandes-tours-logo.gif'); */
}

@media screen and (max-width: 720px) {
  .associate__p {
    font-size: 1em;
  }
}

/* seccion de servicios  */
.services {
  padding: 3rem 0 3rem 0;
  /* background-color: #b76e26; */
}
.services__wrapper {
  /* width: 80%; */
  display: flex;
  flex-flow: column nowrap;
  gap: 4rem;
  /* background-color: aqua; */
}
.services__h5 {
  text-align: center;
  font-size: 2em;
  font-weight: 300;
}

.services__container {
  /* background-color: #a4a356; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: 150px ; */
  place-items: center;
  place-content: center;
  gap: 1rem;
}
.services__card {
  min-height: max-content;
  width: 70%;
  border-radius: 10px;
  border: #dcdbdb solid 0.2px;
  /* background-color: aqua; */
  display: flex;
  padding: 0.5rem 0 0.5rem 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition-duration: 400ms;
  transition-property: translate box-shadow;
  transition-timing-function: ease-in;
}

.services__card:hover {
  translate: 0 -10px;
  box-shadow: 5px 5px 5px 0px #908f8f;
}
/*primer valor del box shadow , en el eje x
  segundo valor es en el eje y 
  tercer valor la opacidad , o el efecto blur, (difuminacion)
  cuarto valor  , es una medida de crecimiento o decremiento respecto a la caja original que se le puede asignar
  y un quinto atributo que es el color de la sombra
*/
.services__p {
  /* background-color: aqua; */
  text-align: center;
  /* padding: 1rem; */
  font-size: 1.3em;
  font-family: "PoetSenOne";
  /* font-weight: 400; */
}
.services__icon {
  padding: 1rem;
  font-size: 3em;
}
@media screen and (max-width: 720px) {
  .services__h5 {
    font-size: 1.5em;
  }
  .services__container {
    /* gap: 1rem; */
    grid-template-columns: repeat(2, 1fr);
  }
  .services__card {
    padding: 1rem;
  }
  .services__wrapper {
    /* background-color: aqua; */
    width: 100%;
  }
  .services__icon {
    font-size: 2em;
  }
}

/* seccion de descripcion  */

.intro {
  /* arreglar esta propiedad  */
  /* min-height: 90vh; */
  padding: 2rem 0 2rem 0;
  min-height: 50vh;
  /* background-color: blue; */
  /* border: solid; */
}
.intro__wrapper {
  /* background-color: blueviolet; */
  /* display: flex; */
  /* flex-flow: row nowrap; */
  /* justify-content: space-between; */
  /* align-items: center; */
  /* gap: 1em; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.intro__col {
  /* flex-basis: 50%; */
  /* background-color: aqua; */
}

.intro__h5 {
  padding: 2rem 0 2rem 0;
}
.intro__p {
  padding: 0 2rem 0 2rem;
}
.intro__h2 {
  padding: 0 0 2rem 0;
  text-align: center;
  letter-spacing: 0.2em;
  font-size: 2em;
}

@media screen and (max-width: 720px) {
  .intro__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .intro__h2 {
    font-size: 2em;
  }
}
/* seccion del carrusel , incluido en el intro  */
.carrusel {
  /* background-color: #e4e5e3; */
  height: 100%;
  /* border-radius: 20px; */
  overflow: hidden;
}
.carrusel__grande {
  /* background-color: #b4c433; */
  padding: 0 0 1rem 0;
  width: 200%;
  height: 90%;
  display: flex;
}
.carrusel__img {
  border-radius: 20px;
  width: calc(100% / 2);
  height: 100%;
  /* border-radius: 20px; */
}
.carrusel .puntos {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  /* padding:  0 1rem 0; */
  /* background-color: rgb(26, 200, 55); */
}

.Bleft {
  display: flex;
  align-items: center;

  border: none;
  background-color: #fff;
  width: 20px;
  height: 20px;
  font-size: 1em;
  rotate: 180deg;
}
.Bright {
  background-color: #fff;
  display: flex;
  align-items: center;

  border: none;
  /* background-color: aqua; */
  width: 20px;
  height: 20px;
  font-size: 1em;
}
.left {
  transition: transform;
  transition-duration: 1s;
  transform: translateX(-50%);
}
.right {
  transition: transform ;
  transition-duration: 1s;
  transform: translateX(0%);
}

/* seccion de  horarios */
.schedule {
  /* overflow: hidden; */
  color: aliceblue;
  background-color: #181818;
  padding: 1rem 0 1rem 0;
}
.schedule__container {
  color: aliceblue;
  /* background-color: #af2323; */
  display: flex;
  flex-flow: wrap;
  gap: 2rem;
  justify-content: space-around;
}
.schedule__row {
  /* background-color: blue; */
  padding: 1rem 0 1rem 0;

  /* background-color: aquamarine; */
}
.schedule__h5 {
  font-size: 1.4em;
  text-align: center;
}
.schedule__col {
  text-align: center;
}

/* aca van los datos del footer */

.footer {
  color: #fff;
  background-color: #181818;
  min-height: 30vh;
}
.footer__wrapper {
  /* background-color: blue; */
  gap: 2rem;
  padding: 2rem 0 2rem 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.footer__col {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  gap: 1em;
  flex-basis: 50%;
}

.footer__p {
  font-size: 1.5em;
}
.svg {
  font-size: 2em;
}
.footer__follow {
  display: flex;
  flex-flow: row nowrap;
  gap: 1.5rem;
  /* background-color: aquamarine; */
}

@media screen and (max-width: 720px) {
  .footer__wrapper {
    flex-flow: column;
  }
  .footer__p {
    text-align: center;
  }
  .footer__follow {
    justify-content: center;
  }
}
