* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "PoetSenOne";
}
/* la etiqueta wrapper es para centrear el contenido */
/* body{
  background-color: #f2f4f1;
} */


.wrapper {
  width: 90%;
  max-width: 93.75rem; /*maximo de 1500 pixeles, o su equivalente en rem */
  /* el margin auto lo centrea automaticamente , es como un aligcenter de flex  */
  margin: auto;
  /* background-color: aqua; */
}

@font-face {
  font-family: "adams-black";
  src: url(/fonts/ArchivoBlack-Regular.ttf);
}
@font-face {
  font-family: "PoetSenOne";
  src: url(/fonts/Montserrat-VariableFont_wght.ttf);
}

/* para que el contenido aparezca de abajo a arriba */
@keyframes behindComponent {
  from {
    opacity: 0;
    translate: 0 70px;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
.research {
  animation: behindComponent linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;
}
/* para que el contenido aparezca de abajo a arriba */
@keyframes behindLeftComponent {
  from {
    opacity: 0;
    translate: -100px 0;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
.researchLeft {
  animation: behindLeftComponent linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;
}
@keyframes behindRightComponent {
  from {
    opacity: 0;
    translate: 100px 0;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
.researchRight {
  animation: behindRightComponent linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;
}

/* css globales  */
.text__center {
  text-align: center;
}
/* tamaño de titulos */
.Tsize {
  font-size: 2em;
  font-weight: 300;
}
@media screen and (max-width: 720px) {
  .Tsize {
    font-size: 1em;
  }
}
/* .Psize {
  font-size: 2em;
  font-weight: 300;
} */
.blackBG{
  background-color: #181818;
  color: #fff;
}

/* ---------------------------------------------------------- */
.intro {
  padding: 2rem 0 2rem 0;
  min-height: 50vh;
}
.intro__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.intro__h5 {
  /* background-color: aqua; */
  padding: 3rem 0 3rem 0;
}
.intro__p {
  padding: 0 2rem 0 2rem;
}
.intro__h2 {
  padding: 0 0 2rem 0;
  text-align: center;
  letter-spacing: 0.2em;
  font-size: 2em;
}

@media screen and (max-width: 720px) {
  .intro__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .intro__h2 {
    font-size: 2em;
  }
}
/* seccion del carrusel , incluido en el intro  */
.carrusel {
  /* background-color: #e4e5e3; */
  height: 100%;
  /* border-radius: 20px; */
  overflow: hidden;
}
.carrusel__grande {
  /* background-color: #b4c433; */
  padding: 0 0 1rem 0;
  width: 200%;
  height: 90%;
  display: flex;
}
.carrusel__img {
  border-radius: 20px;
  width: calc(100% / 2);
  height: 100%;
  /* border-radius: 20px; */
}
.carrusel .puntos {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  /* padding:  0 1rem 0; */
  /* background-color: rgb(26, 200, 55); */
}

.Bleft {
  display: flex;
  align-items: center;

  border: none;
  background-color: #fff;
  width: 20px;
  height: 20px;
  font-size: 1em;
  rotate: 180deg;
}
.Bright {
  background-color: #fff;
  display: flex;
  align-items: center;

  border: none;
  /* background-color: aqua; */
  width: 20px;
  height: 20px;
  font-size: 1em;
}
.left {
  transition: transform;
  transition-duration: 1s;
  transform: translateX(-50%);
}
.right {
  transition: transform;
  transition-duration: 1s;
  transform: translateX(0%);
}

.active {
  color: aqua;
}
